<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>494428231357-rd7m65nma6qk5kml1n5dnh1jderabt20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.494428231357-rd7m65nma6qk5kml1n5dnh1jderabt20</string>
	<key>API_KEY</key>
	<string>AIzaSyCAlLV6Gt9wvjBs-2jwsmjiwlwd3Frr1_o</string>
	<key>GCM_SENDER_ID</key>
	<string>494428231357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mirrortv.mnews</string>
	<key>PROJECT_ID</key>
	<string>mirror-tv-4d56f</string>
	<key>STORAGE_BUCKET</key>
	<string>mirror-tv-4d56f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494428231357:ios:82cc0f623b4ede7c4f09d4</string>
</dict>
</plist>